@model List<Purpose>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="CreatePurpose" class="btn btn-dark">Add purpose</a>

@foreach (var item in Model)
{
    <div class="purpose">
        <purpose item="item" />
        <a asp-action="EditPurpose" class="btn btn-light" asp-route-id="@item.Id">Edit</a>
        <a asp-action="DeletePurpose" class="btn btn-light" asp-route-id="@item.Id">Delete</a>
    </div>
}

